
<div class="container">

  <h2 style="font-family: 'Blueberry', sans-serif; color: #d5aaff;">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Username" }%>
    <%= f.input :location,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "location" }%>
    <%= f.input :birthdate, as: :date,
                start_year: Date.today.year - 90,
                end_year: Date.today.year,
                order: [:day, :month, :year],
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Birthdate" }%>
    <%= f.input :bio, as: :text,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Bio" }%>
    <%= f.label :hobby_ids, 'Select your 6 hobbies' %>
                <div class="image-checkboxes">
                  <% Hobby.all.each do |hobby| %>
                    <% if hobby.photo.attached? %>
                      <label data-controller="toggle-icons">
                        <div class="image-checkbox" data-toggle-icons-target="icon">
                          <%= cl_image_tag hobby.photo.key, class: "hobby-icon" %>
                          <%= f.check_box :hobby_ids, { multiple: true, autocomplete: "hobbies", data: { toggle_icons_target: "checkbox", action: "change->toggle-icons#toggle" } }, hobby.id, nil %>
                        </div>
                        <p class="hobby-name" data-toggle-icons-target="name" ><%= hobby.name %></p>
                      </label>
                    <% end %>
                  <% end %>
                </div>
    <%= f.input :photo, as: :file %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
