<div class="container">

<h1 style="font-family: 'Blueberry', sans-serif; color: #d5aaff;">Chatrooms</h1>

  <%= form_tag chatrooms_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Buddies", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <div class="chatrooms d-flex align-items-start flex-column w-100">
    <% @chatrooms.each do |chatroom| %>
      <div class="container-chatroom d-flex align-items-center ">
        <div class="avatar-container m-3">
          <% if chatroom.asker.photo.attached? && chatroom.asker != current_user && chatroom.status != "rejected"%>
            <%= cl_image_tag(chatroom.asker.photo.key, class: "avatar") %>
          <% elsif chatroom.receiver.photo.attached? && chatroom.asker == current_user  && chatroom.status != "rejected"%>
            <%= cl_image_tag(chatroom.receiver.photo.key, class: "avatar") %>
          <% end %>
        </div>
        <div class="details-container mt-3">
          <% if chatroom.pending? && chatroom.asker != current_user %>
            <%= chatroom.asker.username %>
            <%= simple_form_for chatroom do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
              <%= f.submit "✔️", class: "button-cleanup btn-sm"%>
            <% end %>
            <%= simple_form_for chatroom do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit "✖️", class: "button-cleanup btn-sm" %>
            <% end %>
          <% elsif chatroom.pending? && chatroom.asker == current_user %>
            <p class="mr-3"><%= chatroom.receiver.username %></p>
            <em><%= "Waiting for #{chatroom.receiver.username} to confirm the connection" %></em>
          <% end %>
        </div>
        <div class="links-container">
          <% if chatroom.status == "accepted" && chatroom.asker != current_user  %>
            <%= link_to chatroom.asker.username, chatroom_path(chatroom) %>
          <% elsif chatroom.status == "accepted" && chatroom.asker == current_user %>
            <%= link_to chatroom.receiver.username, chatroom_path(chatroom) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
