<div class="container">
<h1>Chatrooms</h1>
  <h1>Chatrooms</h1>

  <%= form_tag chatrooms_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Buddies", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <div class="chatrooms d-flex align-items-start flex-column w-100">
    <% @chatrooms.select { |chatroom| chatroom.asker == current_user || chatroom.receiver == current_user }.each do |chatroom| %>
      <div class="container-chatroom d-flex align-items-center">
        <% if chatroom.receiver == current_user %>
          <% user = chatroom.asker %>
        <% else %>
          <% user = chatroom.receiver %>
        <% end %>

        <div class="avatar-container m-3">
          <% if user.photo.attached? && chatroom.status != "rejected" %>
            <%= cl_image_tag(user.photo.key, class: "avatar") %>
          <% end %>
        </div>

        <div class="details-container mt-3">
          <% if chatroom.pending? && chatroom.receiver == current_user %>
            <%= user.username %>
            <%= simple_form_for chatroom do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
              <%= f.submit "✔️", class: "button-cleanup btn-sm"%>
            <% end %>
            <%= simple_form_for chatroom do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit "✖️", class: "button-cleanup btn-sm" %>
            <% end %>
          <% elsif chatroom.pending? && chatroom.asker == current_user %>
            <p class="mr-3"><%= chatroom.receiver.username %></p>
            <em><%= "Waiting for #{chatroom.receiver.username} to confirm the connection" %></em>
          <% end %>
        </div>

        <div class="links-container">
          <% if chatroom.status == "accepted" %>
            <% if chatroom.asker == current_user %>
              <%= link_to chatroom.receiver.username, chatroom_path(chatroom) %>
            <% else %>
              <%= link_to chatroom.asker.username, chatroom_path(chatroom) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
