<div class="container">
  <div class="header-and-search">
    <h1>Inbox</h1>
    <%= form_tag chatrooms_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Buddies", class: "search-input" %>
      <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>

  <div class="chatroom_card">
      <% @chatrooms.select { |chatroom| chatroom.asker == current_user || chatroom.receiver == current_user }.each do |chatroom| %>
        <% if chatroom.receiver == current_user %>
          <% user = chatroom.asker %>
        <% else %>
          <% user = chatroom.receiver %>
        <% end %>

        <div class="container-chatroom d-flex align-items-center">
          <div class="avatar-container m-3">
            <% if user.photo.attached? && chatroom.status != "rejected" %>
              <%= cl_image_tag(user.photo.key, class: "avatar") %>
            <% end %>
          </div>

          <div class="details-container mt-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>
                <strong><%= user.username %></strong>
                <% last_message = chatroom.messages.last %>
                <% if last_message %>
                  <p class="last-message-preview"><%= last_message.content %></p>
                <% end %>
              </div>
              <div class="ml-auto">
                <div class="links-container">
                  <% if chatroom.status == "accepted" %>
                    <% if chatroom.asker == current_user %>
                      <%= link_to chatroom.receiver.username, chatroom_path(chatroom), class: "no-link" %>
                    <% else %>
                      <%= link_to chatroom.asker.username, chatroom_path(chatroom), class: "no-link" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
