<body>
  <%= link_to '/chatrooms', class: "back-button" do %>
    <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
  <% end %>

  <div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
<div class="avatar_and_name">


    <% if @chatroom.asker == current_user %>
      <%= link_to user_path(@chatroom.receiver) do %>
        <h1>
          <% if @chatroom.receiver.photo.attached? %>
          <%= cl_image_tag(@chatroom.receiver.photo.key, class: "chat_avatar")  %>
          <% else %>
          <%= image_tag("https://cdn-icons-png.freepik.com/512/8742/8742495.png", class: "chat_avatar") %>
          <%= @chatroom.receiver.username %>
        </h1>
      <% end %>
    <% elsif %>
      <%= link_to user_path(@chatroom.asker) do %>
        <h1>
          <% if @chatroom.asker.photo.attached? %>
          <%= cl_image_tag(@chatroom.asker.photo.key, class: "chat_avatar")  %>
          <% else %>
          <%= image_tag("https://cdn-icons-png.freepik.com/512/8742/8742495.png", class: "chat_avatar") %>
          <%= @chatroom.asker.username %>
        </h1>
      <% end %>
    <% end %>

    </div>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message your new buddy here...",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</body>
