<div class="container">
  <h1>All users</h1>

  <%= form_tag users_path, method: :get, class: "searchbar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <div class="user-cards-container">
    <% @users.each do |user| %>
    <% if user != current_user %>
      <div class="user-card">
      <div class="avatar-link">
      <h4><%= link_to user.username, user_path(user, from: "all_users"), class: "username-link" %></h4>
          <%= link_to user_path(user) do %>
            <% if user.photo.attached? %>
              <%= cl_image_tag(user.photo.key, class: "avatar-large") %>
            <% end %>
          <% end %>
        </div>
        <div class="user-details">
          <div class="user-hobby-icons-container">
            <% user.hobbies.each do |hobby| %>
              <div class="user-hobby-icon-bg">
              <% if hobby.photo.attached? %>
                <%= cl_image_tag hobby.photo.key, class: "user-hobby-icons" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
