<div class="container">


<div class="container d-flex justify-content-between">
  <div class="img-profile w-50">

  <h1><%= @user.username %></h1>

  <% if @user.photo.attached? %>
    <%= cl_image_tag(@user.photo.key, class: "avatar-large") %>
  <% end %>
</div>
<div class="hobbies-profile d-flex justify-content-between flex-wrap w-50" data-controller="matching-modal">
  <% @hobbies.each do |hobby| %>
    <% if hobby.photo.attached? && @user != current_user && current_user.hobbies.include?(hobby) %>
      <div class="icon-container">
        <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#chatroomAddModal", action: "click->matching-modal#copy"} do %>
              <%= cl_image_tag(hobby.photo.key, class: "hobby-icons", data: { matching_modal_target: "link" }) %>
        <% end %>
        <%= render "chatrooms/new", chatroom: @chatroom %>
      </div>
    <% else %>
      <div class="icon-container">
        <%= cl_image_tag hobby.photo.key, class: "hobby-icons" %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
  <h1><%= @user.username %></h1>
  <% age = Date.today.year - @user.birthdate.year %>
  <% age -= 1 if Date.today.strftime("%m%d") < @user.birthdate.strftime("%m%d") %>
  <p>Age: <%= age %></p>
  <p>Location: <%= @user.location %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Selected hobbies: </p>
  <% @hobbies.each do |hobby| %>
  <p><%= hobby.name %></p>
  <% if hobby.photo.attached? %>
  <div class="icon-container">
    <%= cl_image_tag hobby.photo.key, class: "hobby-icons" %>
  </div>
  <% end %>
<% end %>
  <p>Created Events: </p>
  <% if @user == current_user %>
    <div>
      <button data-bs-toggle="modal" data-bs-target="#eventAddModal">Add</button>
    </div>
    <%= render "events/new", event: @event %>
  <% end %>
  <ul>
  <% @events.each do |event| %>
    <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
      <%= event.hobby_id%> | <%= event.name%> | <%= event.location%> | <%= event.date %>
    </div>
    <div class="modal fade" id="eventDetailModal<%= event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
      <%= render "events/event_modal", event: event%>
    </div>
   <% end %>
  </ul>
  <% if @user == current_user %>
    <p>Accepted Events:</p>
    <% @requests.each do |request| %>
      <% if request.accepted?%>
        <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= request.event.id %>">
        <%= request.event.name%>
        </div>
        <div class="modal fade" id="eventDetailModal<%= request.event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
          <%= render "events/event_modal", event: request.event %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @user == current_user %>
    <%= link_to "edit", edit_registration_path(current_user) %>
  <% end %>

</div>
</div>
