<% if params[:from] == "all_users" %>
  <%= link_to '/users', class: "back-button" do %>
    <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
  <% end %>
<% end %>


<div class="d-flex justify-content-between m-3">
 <% if @user == current_user %>
    <h3>My profile</h3>
    <div class="d-flex justify-content-evenly w-25">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, style: "text-decoration: none" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
      <%= link_to edit_registration_path(current_user) do %>
      <i class="fa-solid fa-user-pen"></i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container d-flex justify-content-between mt-3">
  <div class="img-profile w-50 mb-5">

  <% if @user.photo.attached? %>
    <%= cl_image_tag(@user.photo.key, class: "avatar-large") %>
  <% end %>
</div>
<div class="hobbies-profile d-flex justify-content-between flex-wrap w-50" data-controller="matching-modal">
  <% @hobbies.each do |hobby| %>
    <% if hobby.photo.attached? && @user != current_user && current_user.hobbies.include?(hobby) %>
      <div class="icon-container icons-selected">
        <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#chatroomAddModal", action: "click->matching-modal#copy"} do %>
              <%= cl_image_tag(hobby.photo.key, class: "hobby-icons", data: { matching_modal_target: "link" }) %>
        <% end %>
        <%= render "chatrooms/new", chatroom: @chatroom %>
      </div>
    <% else %>
      <div class="icon-container">
        <%= cl_image_tag hobby.photo.key, class: "hobby-icons" %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
  <h1><%= @user.username %></h1>
  <% age = Date.today.year - @user.birthdate.year %>
  <% age -= 1 if Date.today.strftime("%m%d") < @user.birthdate.strftime("%m%d") %>
  <p>Age: <%= age %></p>

  <p><i class="fa-solid fa-location-dot"></i> <%= @user.location %></p>
  <div class="separation-line mb-3"></div>
    <p><%= @user.bio %></p>
  <div class="separation-line mb-3"></div>

    <div class="d-flex justify-content-between align-items-center">
    <h3>Events: </h3>
    <% if @user == current_user %>
      <div class="modal fade" id="eventAddModal" tabindex="-1" aria-labelledby="eventAddModalLabel" aria-hidden="true" data-controller="add-event">
        <%= render "events/new", event: @event %>
      </div>
      <button data-bs-toggle="modal" data-bs-target="#eventAddModal" i class="fa-solid fa-plus "></i></button>
    <% end %>
  </div>

  <p>Created Events: </p>

  <ul>
  <% @events.each do |event| %>
    <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
    <div class="d-flex align-items-center">
      <div class="user-hobby-icons-container d-flex p-3">
        <div class="user-hobby-icon-bg">
          <% if event.hobby.photo.attached? %>
            <%= cl_image_tag event.hobby.photo.key , class: "user-hobby-icons"%>
          <% end %>
        </div>
      </div>
      <div >
        <%= event.name%> | <%= event.location%> | <%= event.date %>
      </div>
    </div>
    </div>
    <div class="modal fade" id="eventDetailModal<%= event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
      <%= render "events/event_modal", event: event%>
    </div>
   <% end %>
  </ul>
  <% if @user == current_user %>
    <p>Accepted Events:</p>
    <% @requests.each do |request| %>
      <% if request.accepted?%>
        <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= request.event.id %>">
        <%= request.event.name%>
        </div>
        <div class="modal fade" id="eventDetailModal<%= request.event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
          <%= render "events/event_modal", event: request.event %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
</div>
