<div class="container">

  <h1><%= @user.username %></h1>
  <% age = Date.today.year - @user.birthdate.year %>
  <% age -= 1 if Date.today.strftime("%m%d") < @user.birthdate.strftime("%m%d") %>

  <p>Age: <%= age %></p>
  <p>Location: <%= @user.location %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Selected hobbies: </p>
  <p>Events:  </p>

  <% if @user == current_user %>
    <%= link_to "edit", edit_registration_path(current_user) %>
  <% end %>


</div>
