<% labels = { interested: false, attending: false } %>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div style="width: 100%; text-align: right; padding: 1px 4px 1px 4px; height: auto">
        <div class="event-modal-header">
          <div class="user-hobby-icons-container d-flex pe-3">
            <div class="user-hobby-icon-bg">
              <% if event.hobby.photo.attached? %>
                <%= cl_image_tag event.hobby.photo.key , class: "user-hobby-icons"%>
              <% end %>
            </div>
          </div>
          <div style="margin: 0; text-align: left; width: 100%">
            <h1 class="modal-title fs-5" style="margin-top: 0; text-align: left" id="eventDetailModalLabel<%= event.id %>" data-model-title="<%= event.name %>"><%= event.name %></h1>
            <% if current_user == event.user %>
              <p style="margin: 0">created by yourself</p>
            <% else %>
              <p class="user-link" style="margin: 0">by <%= link_to event.user.username, user_path(event.user.id)%></p>
            <% end %>
          </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      <div class="separation-line hr hr-blurry"></div>
      <div class="modal-body event-infos" data-edit-event-target="infos">
        <p class><b><%= event.location %></b><em><%= event.date.strftime("%d %B %Y") %></em></p>
        <p class="fs-5"><%= event.description %></h5>
      </div>
      <div class="end">
        <% if current_user != event.user %>
          <% if !current_user.has_request?(event) %>
          <div class="interested-btn" style="text-align: center">
            <%= link_to "I'm Interested", new_event_request_path(event), remote: true, method: :get%>
          </div>
          <% elsif current_user.has_pending_request?(event) %>
            <p style="margin-bottom: 0px">Waiting for acceptance</p>
          <% elsif current_user.has_accepted_request?(event) %>
          <div class="d-flex justify-content-between">
            <p style="margin-bottom: 0px">Already attending</p>
            <%= link_to event_request_path(event_id: event.id, id: current_user.requests.find_by(event_id: event.id)&.id) || root_path, data: {turbo_confirm: "Are you sure?", turbo_method: :delete} do %>
              <i class="fa-solid fa-trash-can trash-can" style="color: #a39bf8; margin-left: 6px; font-size: 20px"></i>
            <% end %>
          </div>
          <% elsif current_user.has_rejected_request?(event) %>
            <p style="margin-bottom: 0px">Sorry, we're full</p>
          <% end %>
        <% else %>
          <div class="edit-delete" style="text-align: right; font-size: 20px; color: #a39bf8">
            <i class="fa-solid fa-pen-to-square trash-can" data-action="click->edit-event#displayForm" data-edit-event-target="editButton"></i>
            <%= link_to event_path(event), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } do %>
              <i class="fa-solid fa-trash-can trash-can" style="color: #a39bf8; margin-left: 6px"></i>
            <% end %>
          </div>
          <div data-edit-event-target="labels">
            <% event.requests.each do |request| %>
              <% if request.pending? %>
                <% unless labels[:interested] %>
                  <% labels[:interested] = true %>
                  <p style="margin-top: 10px; margin-bottom: 6px">Interested:</p>
                <% end %>
                <div class="d-flex justify-content-between interested-users" style="border-top: solid 1px #e3e3e3">
                  <div class="d-flex justify-content-left">
                    <% if request.user.photo.attached? %>
                        <%= cl_image_tag(request.user.photo.key, class: "avatar-small") %>
                      <% else %>
                        <%= image_tag("https://cdn-icons-png.freepik.com/512/8742/8742495.png", class: "avatar-small") %>
                      <% end %>
                    <p style="margin-bottom: 0; padding: 0; height: 2rem; line-height: 2rem "><%= link_to request.user.username, user_path(request.user.id) %></p>
                  </div>
                  <div class="d-flex a-r-btn">
                    <p><%= button_to "✔️", accept_request_event_request_path(event, request), method: :patch %></p>
                    <p><%= button_to "✖️", reject_request_event_request_path(event, request), method: :patch %></p>
                  </div>
                </div>
              <% elsif request.accepted? && !request.rejected?%>
              <% unless labels[:attending] %>
                  <% labels[:attending] = true %>
                  <p style="margin-top: 10px; margin-bottom: 6px">Attending:</p>
                <% end %>
                <div class="interested-users" style="border-top: solid 1px #e3e3e3">
                  <%# event.requests.each do |request| %>
                    <% if request.accepted? && !request.rejected?%>
                      <div class="d-flex justify-content-left">
                        <% if request.user.photo.attached? %>
                          <%= cl_image_tag(request.user.photo.key, class: "avatar-small") %>
                        <% else %>
                            <%= image_tag("https://cdn-icons-png.freepik.com/512/8742/8742495.png", class: "avatar-small") %>
                        <% end %>
                        <p style="margin-bottom: 0; padding: 0; height: 2rem; line-height: 2rem ">
                          <%= link_to request.user.username, user_path(request.user.id) %>
                        </p>
                      </div>
                    <% end %>
                  <%# end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="container">
        <%= simple_form_for event, html: { class: "d-none", data: { edit_event_target: "form", action: "submit->edit-event#update" } } do |f| %>
          <%= f.label :hobby_id, 'Select a hobby' %>
          <div class="image-checkboxes" data-controller = "matching-modal">
            <% current_user.hobbies.each do |hobby| %>
              <% if hobby.photo.attached? %>
                <label >
                  <div class="image-checkbox" data-matching-modal-target="icon">
                    <%= cl_image_tag hobby.photo.key, class: "hobby-icon" %>
                    <%= f.check_box :hobby_id, { autocomplete: "hobby", data: { matching_modal_target: "checkbox", action: "change->matching-modal#toggle" } }, hobby.id, nil %>
                  </div>
                  <p class="hobby-name" data-matching-modal-target="name" ><%= hobby.name %></p>
                </label>
              <% end %>
            <% end %>
          </div>
          <%= f.input :name %>
          <%= f.input :location %>
          <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :description %>
          <%= f.submit class: "btn btn-form", value: "Save" %>
        <% end %>
      </div>
    </div>
  </div>
