      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventAddModalLabel">New Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for event, html: { data: { add_event_target: "form", action: "submit->add-event#create" } } do |f| %>
               <%= f.label :hobby_id, 'Select a hobby' %>
            <div class="image-checkboxes" data-controller = "matching-modal">
              <% current_user.hobbies.each do |hobby| %>
                <% if hobby.photo.attached? %>
                    <label >
                      <div class="image-checkbox" data-matching-modal-target="icon">
                        <%= cl_image_tag hobby.photo.key, class: "hobby-icon" %>
                        <%= f.check_box :hobby_id, { autocomplete: "hobby", data: { matching_modal_target: "checkbox", action: "change->matching-modal#toggle" } }, hobby.id, nil %>
                      </div>
                      <p class="hobby-name" data-matching-modal-target="name" ><%= hobby.name %></p>
                      </label>
                    <% end %>
                  <% end %>
                </div>
              <%= f.input :name%>
              <%= f.input :location%>
              <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" }}%>
              <%= f.input :description%>
              <%= f.submit class:"btn btn-form", value: "Add Event"%>
            <% end %>
          </div>
        </div>
      </div>
