<div class="event-index-container">
  <h1>All events</h1>

  <%= form_tag events_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <% @events.each do |event| %>
    <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
    <div class="event-hobby-icon-bg">
    <% if event.hobby && event.hobby.photo.attached? %>
    <%= cl_image_tag event.hobby.photo.key, class: "event-hobby-icon" %>
  <% end %>
    </div>
      <h2 class="event-details"><%= event.name %></h2>
      <p><%= event.location %></p>
      <p><%= event.date %></p>
    </div>

     <div class="modal fade" id="eventDetailModal<%= event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
    <%= render "events/event_modal", event: event%>
    </div>
  <% end %>
</div>
