<div class="container">
  <h1>All events</h1>
<% @events.each do |event| %>

    <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
      <h2><%= event.name %></h2>
      <p><%= event.location %></p>
      <p><%= event.date %></p>
    </div>
    <%= render "events/show", event: event%>


  <% end %>

</div>
