<div class="container">
  <h1>All events</h1>


  <%= form_tag events_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>


<% @events.each do |event| %>

    <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
      <h2><%= event.name %></h2>
      <p><%= event.location %></p>
      <p><%= event.date %></p>
    </div>
    <div class="modal fade" id="eventDetailModal<%= event.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventDetailModalLabel<%= event.id %>"><%= event.name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><%= event.location %></p>
            <p><%= event.date %></p>
            <p><%= event.description %></p>
          </div>
          <div class="modal-footer">
            <% if event.user_id != current_user.id %>
              <button>I'm interested</button>
            <% else %>
              <button>Edit</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <% end %>

</div>
