<div class="container">
<div class="header-and-search">
<%= form_tag events_path, method: :get, class: "search-bar" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "search-input", autocomplete: "off" %>
  <%= button_tag type: 'submit', class: "search-button" do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
    <% end %>
</div>
<div>
    <p class="index-text-top"><em>Events near you...</em></p>
</div>
    <div class="event-index-container">
    <% @events.order(:date).each do |event| %>
      <div class="event-card" data-bs-toggle="modal" data-bs-target="#eventDetailModal<%= event.id %>">
      <div class="d-flex align-items-center">
        <div class="user-hobby-icons-container d-flex p-3">
          <div class="event-hobby-icon-bg">
            <% if event.hobby && event.hobby.photo.attached? %>
              <%= cl_image_tag event.hobby.photo.key, class: "event-hobby-icon" %>
            <% end %>
          </div>
        </div>
        <div>
          <h5><%= event.name %></h5>
          <p><%= event.location_by_city %></p>
          <p><%= event.date.strftime("%d %B %Y") %></p>
        </div>
      </div>
      </div>
      <div class="modal fade" id="eventDetailModal<%= event.id %>" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-controller="edit-event">
      <%= render "events/event_modal", event: event%>
      </div>
    <% end %>
  </div>
</div>
