<div class="container">
  <div class="header-and-search">
    <h1 class="text-center">Hobby Hub</h1>

    <%= form_tag hobbies_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hobbies", class: "search-input" %>
      <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <% end %>
  </div>

  <div class="hobby-hub-card-container">

    <% @hobbies.each do |hobby| %>

        <%= link_to hobby_path(hobby) do %>
          <div class="hobby-hub-card">
            <div class="hobby-card-image">
              <% if hobby.photo.attached? %>
                <%= cl_image_tag hobby.photo.key, width: "70px", height: "70px" %>
              <% else %>
                <%= hobby.name %>
              <% end %>
            </div>
            <div class="hobby-card-name">
              <h3><%= hobby.name %></h3>
            </div>
        </div>
        <% end %>

    <% end %>

  </div>

</div>
