<div class="container">

  <div class="header-and-search">
    <h1 class="text-center">Hobby Hub</h1>

    <%= form_tag hobbies_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hobbies", class: "search-input", autocomplete: "off" %>
      <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

  </div>

  <div class="hobby-hub-card-container">

    <% @hobbies.each do |hobby| %>

      <div class="hobby-hub-card" data-bs-toggle="modal" data-bs-target="#hobbyModal<%= hobby.id %>">
        <div class="hobby-card-image">
          <% if hobby.photo.attached? %>
            <div class="icon-container"><%= cl_image_tag hobby.photo.key, width: "28px", height: "28px" %></div>
          <% else %>
            <%= hobby.name %>
          <% end %>
        </div>
        <div class="hobby-card-name">
          <p><%= hobby.name %></p>
        </div>
      </div>

      <div class="modal fade" id="hobbyModal<%= hobby.id %>" tabindex="-1" aria-labelledby="hobbyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="hobby-modal-header">
              <div class="modal-image" style="margin-top: 3px">
                <div class="icon-container">
                <% if hobby.photo.attached? %>
                  <%= cl_image_tag hobby.photo.key, width: "30px", height: "30px" %>
                <% else %>
                  <%= hobby.name %>
                <% end %>
                </div>
              </div>
              <h1 class="modal-title fs-5" id="hobbyModalLabel text-center" style="height"><%= hobby.name %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Fans</h2>
              <div class="hobby-modal-users">
                <% list = @selected_hobbies.where(hobby_id: hobby.id) %>
                <% if list.length > 0 %>
                  <% list[0..4].each do |item| %>
                    <% if item.user.photo.attached? %>
                        <a href="users/<%= item.user.id %>">
                          <%= cl_image_tag item.user.photo.key  %>
                        </a>
                    <% else %>
                      <a href="users/<%= item.user.id %>">
                      <%= image_tag("https://cdn-icons-png.freepik.com/512/8742/8742495.png", class: "avatar-x-large border") %>
                      </a>
                    <% end %>
                  <% end %>
                <% else %>
                  <p style="color: grey !important"><em>no fans yet</em></p>
                <% end %>
              </div>
              <% if list.length > 5 %>
                <p class="see-all-link">
                  <%= link_to "See all #{hobby.name} Fans", users_path(search: hobby.name)%>
                </p>
              <% end %>
              <h2 style="margin-top: 16px">Events </h2>
              <% if @events.where(hobby_id: hobby.id).length > 0 %>
                <% @events.where(hobby_id: hobby.id)[0..2].each do |event| %>
                    <p style="border-bottom: solid #e3e3e3 1px; margin-bottom: 6px; padding-bottom: 6px"><a href="users/<%= event.user.id %>"><b><%= event.name %></b><br><em><%= event.location_by_city %></em><br><%= event.date.strftime("%d %B %Y") %></a></p>
                <% end %>
                <% if @events.where(hobby_id: hobby.id).length > 3 %>
                  <p class="see-all-link">
                    <%= link_to "See all #{hobby.name} Events", events_path(hobby_name: hobby.name)%>
                  </p>
                <% end %>
              <% else %>
                <p style="color: grey !important"><em>no events yet</em></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>

</div>
