<div class="container">

  <div class="header-and-search">
    <h1 class="text-center">Hobby Hub</h1>

    <%= form_tag hobbies_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hobbies", class: "search-input" %>
      <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <% end %>

  </div>

  <div class="hobby-hub-card-container">

    <% @hobbies.each do |hobby| %>

      <div class="hobby-hub-card" data-bs-toggle="modal" data-bs-target="#hobbyModal<%= hobby.id %>">
        <div class="hobby-card-image">
          <% if hobby.photo.attached? %>
            <div class="icon-container"><%= cl_image_tag hobby.photo.key, width: "30px", height: "30px" %></div>
          <% else %>
            <%= hobby.name %>
          <% end %>
        </div>
        <div class="hobby-card-name">
          <h4><%= hobby.name %></h4>
        </div>
      </div>

      <div class="modal fade" id="hobbyModal<%= hobby.id %>" tabindex="-1" aria-labelledby="hobbyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="hobby-modal-header">
              <div class="modal-image">
                <div class="icon-container">
                <% if hobby.photo.attached? %>
                  <%= cl_image_tag hobby.photo.key, width: "30px", height: "30px" %>
                <% else %>
                  <%= hobby.name %>
                <% end %>
                </div>
              </div>
              <h1 class="modal-title fs-5" id="hobbyModalLabel text-center"><%= hobby.name %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Users</h2>
              <div class="hobby-modal-users">
                <% list = @selected_hobbies.where(hobby_id: hobby.id) %>
                <% list[0..4].each do |item| %>
                  <% if item.user.photo.attached? %>
                    <div class="avatar-bordered">
                      <a href="users/<%= item.user.id %>">
                        <%= cl_image_tag item.user.photo.key, width: "40px", height: "40px"  %>
                      </a>
                    </div>
                  <% end %>
                <% end %>
              </div>
                <p class="text-end"><a  href="#"><em>See all <%= hobby.name %> users...</em></a></p>
              <h2>Events </h2>
                <% @events[0..2].each do |event| %>
                  <ul>
                    <% if hobby.id == event.hobby_id  %>
                      <li><a href="users/<%= event.user.id %>"><b><%= event.name %></b><br><em><%= event.location %></em><br><%= event.date %></a></li>
                    <% end %>
                  </ul>
                <% end %>
              <p class="text-end"><a href="#"><em>See all <%= hobby.name %> events...</em></a></p>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>

</div>
