<!DOCTYPE html>
<html>
<head>
  <title>HobbyConnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link href="https://fonts.cdnfonts.com/css/blueberry" rel="stylesheet">

  </head>

 <body>
  <div style="margin-bottom: 6rem;">

  <%= render "shared/header" %>
  <%= yield %>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  </div>
  </body>
</html>
